---
layout: archive
---

<h1>ALEX DOES A THING</h1>
<h2>A website to see what Alex is up to, if you're curious or something. </h2>

  {% include figure image_path="/assets/images/Home_Cover_Photo.jpg" alt="this is a placeholder image" caption="A Doodle because a home page of my face is too extra" %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
